* {
    color: white;
    /*border: solid 1px white;*/
}

ul { 
    padding:0;
    margin: 0;
} 


body {
    background-color: black;
}

h1 {
    font-size: 30px;
    font-family: "Rubik mono one", sans-serif;
}

h2 {
    font-family: "Rubik mono one", monospace;
    padding: 10px;
}

body h1 {
    text-align: center;
    text-decoration-line: line-through;
    padding: 300px, 300px, 10px, 300px;
    text-shadow: 15px 15px 15px yellowgreen;
}

/* BIG DIV*/

div.mother {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
}

div.bloglinks {
    background-size: cover;
    width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: auto;
    justify-content: space-around;
}

section.tech {
    border-bottom: solid 2px yellow;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 40px;
}

section.core {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 40px;
}

section h2 {
    width: 100%;
}

div.stickers {
    width: 30%;
}
p{
    font-family: "Rubik mono one", monospace;
    width
}

a {
    border: dotted 2px yellow;
    padding: 30px;
}

.link {
    font-size: 15px;
    color: white;
    text-shadow: 0 0 0 yellowgreen;
    padding: 5px;
    margin: 10px;
    text-decoration-line: none;
   
}

.link:hover {
    text-shadow: 10px 5px 5px yellowgreen;
    text-decoration-line: line-through;
    transition: text-shadow 2s ease-out 2s, text-decoration-line 1s ease in;

}


/*STICEKRS*/

#fire {
    height: 50px;
}

#lightning {
    /*height: 500px;
    width: auto;
    margin: -168px -264px*/
}

#stars {
    width: 50px;
    margin-top: 10px;
}

#cloudleft {
}
