* {
    color: white;
    /*border: solid 1px white;*/
}

html {
    font-size: 16px;
}

ul { 
    padding:0;
    margin: 0;
} 


body {
    background-color: black;
}

h1 {
    font-size: 30px;
    font-family: "Rubik mono one", sans-serif;
}

h2 {
    font-family: "Rubik mono one", monospace;
    padding: 10px;
}

body h1 {
    text-align: center;
    text-decoration-line: line-through;
    padding: 300px, 300px, 10px, 300px;
    text-shadow: 15px 15px 15px yellowgreen;
    float: left;
    position: fixed;
}

nav {
    width: 100%;
    padding: 2em;
}

nav ul{
    display: inline-flex;
    flex-direction: row;
    float: right;
    list-style: none;
}

nav ul li{
    padding-top: 0;
    padding-right: 3em;
}


/* BIG DIV*/

div.mother {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    font-size: 20px;
}

div.bloglinks {
    background-size: cover;
    width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: auto;
    justify-content: space-around;
}

section.tech {
    border-bottom: solid 2px yellow;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 2em 7em 2em;
}

section.core {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section h2 {
    width: 100%;
    margin-bottom: 5em;
    margin-top: 1em;
}

div.stickers {
    width: 30%;
}
section p{
    font-family: "Rubik mono one", monospace;
    width
}

div.mother a {
    border: dotted 2px yellow;
    padding: 7em;
}

.link {
    font-size: 0.75em;
    color: white;
    text-shadow: 0 0 0 yellowgreen;
    text-decoration-line: none;
   
}

.link:hover {
    text-shadow: 10px 5px 5px yellowgreen;
    text-decoration-line: line-through;
    transition: text-shadow 2s ease-out 2s, text-decoration-line 1s ease in;

}


/*STICEKRS*/

#fire {
    height: 50px;
}

#lightning {
    /*height: 500px;
    width: auto;
    margin: -168px -264px*/
}

#stars {
    width: 50px;
    margin-top: 10px;
}

#cloudleft {
}
